#app {
    font-family: Arial, sans-serif;

    @apply
        mx-auto
        max-w-5xl
        shadow-xl
        rounded-b-sm
}

#app #app-hero {
    @apply
        rounded-t-sm
        mt-5
        pt-12
        px-5
        pb-5
        border
        border-slate-200
        border-b-2
        border-b-slate-200
        bg-slate-100
}

#app-nav {
    @apply
        p-3
        border-x
        border-slate-200
        border-b-2
}

#app-nav a.nav-btn {
    @apply
        text-slate-400
        rounded-sm
        py-2
        px-4
        hover:bg-green-100
        hover:text-green-500
}

#app-content {
    @apply
        flex-grow
        border-x
        border-slate-200
}

#app-footer {
    @apply
        border
        border-slate-200
        border-t
        border-t-2
        p-2.5
        text-slate-500
        rounded-b-sm
        text-right
}

#app a {
    @apply
        text-blue-500
        hover:text-blue-600
        hover:underline
}

div#playlists .playlist-item {
    @apply
        border
        border-slate-100
        px-2
        py-1
        my-1
        rounded-sm
        text-slate-400

        hover:border-slate-300
        hover:bg-slate-100
        hover:text-slate-600
}

div#playlists .playlist-item.chosen-for-export {
    @apply
        border-green-300
        bg-green-100
        text-green-600
}
